@import './variables';

:root {
  --black: #363636;
  --blue: $heartland-purple;
  --grey: $heartland-gray-light;
  --white: #ffffff;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-heading: var(--black);
  --color-text: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-heading: var(--white);
    --color-text: var(--white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  font-size: 18px !important;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: $family-primary;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

svg {
  width: 100%;
  height: auto;
  fill: currentColor;
}

.is-bold {
  font-weight: 700;
}

.is-medium {
  font-weight: 600;
}

.is-hidden-mobile {
  @include totablet {
    display: none;
  }
}

.is-purple {
  color: $heartland-purple;
}

.is-red {
  color: $red;
}

.is-pink {
  color: $heartland-pink;
}

.loading_spinner {
  width: 100vw;
  height: calc(100vh - 240px);
  display: flex;
  align-items: center;
}

.cont {
  max-width: 1100px;
  margin: 0 auto;
  @include desktop {
    padding: 0 10px 5px 10px;
  }
}

.step-body {
  background-color: $heartland-gray-light;
  padding: 15px;

  @include tablet {
    padding: 50px;
  }

  @include desktop {
    margin-left: 320px;
    margin-top: 110px;
  }
}

.hidden {
  display: none;
}

ul {
  position: relative;
  list-style: none!important;
}

li:before {
  content: "•";
  color: $blue;
  display: inline-block;
  margin-left: -1em;
  margin-top: -0.3em;
  position: absolute;
  font-size: 1.75em;
}

.calc_grid {
  column-gap: 20px;
}

.calc_result {
  margin-bottom: 20px;
}

.calc_result_data {
  background-color: #fff;
  border: 2px solid $blue;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  line-height: 1.3;
}

.bottom_links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  @include desktop {
    margin-left: 325px;
    &.normal-margin {
      margin-left: 0;
    }
  }
  .bottom_links__button {
    @extend .bottom__button;
  }
  .term-offer & {
    margin-bottom: 0;
    max-width: 540px;
  }
}