$heartland-blue: #0a2642;
$heartland-purple: #0200b9;
$blue: #0200b9;
$darken-purple: #3829a2;
$heartland-pink: #c985f2;
$heartland-gray-light: #f4f4f4;
$heartland-gray-light2: rgba(201, 133, 242, 0.05);
$heartland-lightblue: #e9f1f8;
$heartland-green: #00c891;
$heartland-green2: #5b8f22;
$heartland-lightgray: #e0e6e8;
$heartland-gray: #ccd2d4;
$heartland-gray2: #a8aaab;
$heartland-gray3: #595959;
$black: #333;
$error: #e31c3d;
$red: #e31c3d;
$violet: #723ab3;


$tablet: 768px;
$desktop: 1024px;
$fullhd: 1440px;

$space: 10px;
